$grey-background-color-day:  #F9FAFB;
$grey-background-color-day2: #F2F2F2;
$bleu-background-color-night: #05042A;
$white-background-nav: rgba(#FFFFFF, 0.28);
$white-background-nav2: rgba(#FFFFFF, 0.6);
$white-background-footer: rgba(#FFFFFF, 0.16);
$white-moyen: rgba(#FFFFFF, 0.1);
$white-color-link-nav: #FFFFFF;
$grey-border-color-nav: #707070;
$grey-counter: #CCCCCC;
$grey-title-and-paragraph: #333333;
$blue-dom-web: #5592E8;
$blue-passions-day: rgba(#5592E8, 0.28);
$blue-dom-web-dark: #443E9B;
$blue-dom-web-light: #f0f5fc;
$green-dom-web: #6EF6C6;
$green-dom-web-dark: #33CD6C;
$green-dark: #009455;
$green-passions-day: rgba(#33CD6C, 0.28);
$yellow-dom-web: #FFB338;
$red-dom-web: #BB1600;
$red-dom-web-dark: #9B1819;
$red-passions-day: rgba(#BB1600, 0.28);
$pink-passions-day: rgba(#FCCEE8, 0.57);

$backgroundHeader: url('../../assets/photos/road-1245901_1920.jpg');
