@font-face {
  font-family: 'julius_sans_oneregular';
  src: url("../fonts/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/juliussansone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratthin';
  src: url("../fonts/montserrat-thin-webfont.woff2") format("woff2"), url("../fonts/montserrat-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratmedium';
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'julius_sans_oneregular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

p {
  font-family: "montserratregular", Verdana, Geneva, Tahoma, sans-serif; }

a {
  font-family: 'montserratmedium';
  text-decoration: none; }

.passions__firstSection {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  margin-top: 220px; }
  .passions__firstSection__presentation {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto; }
    .passions__firstSection__presentation__containerArticle {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .passions__firstSection__presentation__containerArticle__article__h2 {
        font-size: 1em;
        line-height: 1.4em;
        animation-name: animationTitle;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
      .passions__firstSection__presentation__containerArticle__article__p {
        font-size: 0.7em;
        text-align: justify;
        line-height: 180%;
        letter-spacing: 0.1em; }
        .passions__firstSection__presentation__containerArticle__article__p__spanBlue {
          color: #5592E8;
          font-weight: bold; }
        .passions__firstSection__presentation__containerArticle__article__p__spanGreen {
          color: #33CD6C;
          font-weight: bold; }
    .passions__firstSection__presentation__containerPicture {
      width: 99%;
      margin-top: 30px;
      text-align: center;
      margin-bottom: 5%;
      animation-name: animationPicture;
      animation-duration: 1000ms;
      animation-fill-mode: both; }
.passions__secondSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto; }
  .passions__secondSection__divAstroEtChant {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto; }
    .passions__secondSection__divAstroEtChant__divastro {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: rgba(85, 146, 232, 0.28); }
      .passions__secondSection__divAstroEtChant__divastro__picture {
        width: 99%;
        margin-top: 30px;
        text-align: center;
        animation-name: animationPicture;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
      .passions__secondSection__divAstroEtChant__divastro__article {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .passions__secondSection__divAstroEtChant__divastro__article__h2 {
          font-size: 1em;
          line-height: 1.4em;
          color: #FFFFFF;
          animation-name: animationTitle;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divAstroEtChant__divastro__article__p {
          margin-bottom: 10%;
          font-size: 0.7em;
          text-align: justify;
          line-height: 180%;
          letter-spacing: 0.1em; }
    .passions__secondSection__divAstroEtChant__divchant {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: rgba(252, 206, 232, 0.57); }
      .passions__secondSection__divAstroEtChant__divchant__picture {
        width: 99%;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 5%;
        animation-name: animationPicture;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
      .passions__secondSection__divAstroEtChant__divchant__article {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .passions__secondSection__divAstroEtChant__divchant__article__h2 {
          font-size: 1em;
          line-height: 1.4em;
          color: #FFFFFF;
          animation-name: animationTitle;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divAstroEtChant__divchant__article__p {
          margin-bottom: 10%;
          font-size: 0.7em;
          text-align: justify;
          line-height: 180%;
          letter-spacing: 0.1em; }
  .passions__secondSection__divpaysageetphoto {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto; }
    .passions__secondSection__divpaysageetphoto__divpaysage {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: rgba(51, 205, 108, 0.28); }
      .passions__secondSection__divpaysageetphoto__divpaysage__picture {
        width: 99%;
        margin-top: 30px;
        text-align: center;
        animation-name: animationPicture;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
      .passions__secondSection__divpaysageetphoto__divpaysage__article {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .passions__secondSection__divpaysageetphoto__divpaysage__article__h2 {
          font-size: 1em;
          line-height: 1.4em;
          color: #FFFFFF;
          animation-name: animationTitle;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divpaysage__article__p {
          margin-bottom: 10%;
          font-size: 0.7em;
          text-align: justify;
          line-height: 180%;
          letter-spacing: 0.1em; }
    .passions__secondSection__divpaysageetphoto__divphoto {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: rgba(187, 22, 0, 0.28); }
      .passions__secondSection__divpaysageetphoto__divphoto__picture {
        width: 99%;
        margin-top: 30px;
        text-align: center;
        animation-name: animationPicture;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
      .passions__secondSection__divpaysageetphoto__divphoto__article {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .passions__secondSection__divpaysageetphoto__divphoto__article__h2 {
          font-size: 1em;
          line-height: 1.4em;
          color: #FFFFFF;
          animation-name: animationTitle;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divphoto__article__p {
          margin-bottom: 10%;
          font-size: 0.7em;
          text-align: justify;
          line-height: 180%;
          letter-spacing: 0.1em; }

@media screen and (min-width: 426px) and (max-width: 767px) {
  .passions__firstSection {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    margin-top: 180px; }
    .passions__firstSection__presentation {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto; }
      .passions__firstSection__presentation__containerArticle {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .passions__firstSection__presentation__containerArticle__article__h2 {
          font-size: 1em;
          line-height: 1.4em;
          animation-name: animationTitle;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__firstSection__presentation__containerArticle__article__p {
          font-size: 0.7em;
          text-align: justify;
          line-height: 180%;
          letter-spacing: 0.1em; }
          .passions__firstSection__presentation__containerArticle__article__p__spanBlue {
            color: #5592E8;
            font-weight: bold; }
          .passions__firstSection__presentation__containerArticle__article__p__spanGreen {
            color: #33CD6C;
            font-weight: bold; }
      .passions__firstSection__presentation__containerPicture {
        width: 99%;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 5%;
        animation-name: animationPicture;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
  .passions__secondSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    .passions__secondSection__divAstroEtChant {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto; }
      .passions__secondSection__divAstroEtChant__divastro {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: rgba(85, 146, 232, 0.28); }
        .passions__secondSection__divAstroEtChant__divastro__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divAstroEtChant__divastro__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divAstroEtChant__divastro__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divastro__article__p {
            margin-bottom: 10%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; }
      .passions__secondSection__divAstroEtChant__divchant {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: rgba(252, 206, 232, 0.57); }
        .passions__secondSection__divAstroEtChant__divchant__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          margin-bottom: 5%;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divAstroEtChant__divchant__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divAstroEtChant__divchant__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divchant__article__p {
            margin-bottom: 10%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; }
    .passions__secondSection__divpaysageetphoto {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto; }
      .passions__secondSection__divpaysageetphoto__divpaysage {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: rgba(51, 205, 108, 0.28); }
        .passions__secondSection__divpaysageetphoto__divpaysage__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divpaysage__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divpaysageetphoto__divpaysage__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divpaysageetphoto__divpaysage__article__p {
            margin-bottom: 10%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; }
      .passions__secondSection__divpaysageetphoto__divphoto {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: rgba(187, 22, 0, 0.28); }
        .passions__secondSection__divpaysageetphoto__divphoto__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divphoto__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divpaysageetphoto__divphoto__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divpaysageetphoto__divphoto__article__p {
            margin-bottom: 10%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; } }
@media screen and (min-width: 768px) and (max-width: 1388px) {
  .passions__firstSection {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    margin-top: 100px; }
    .passions__firstSection__presentation {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto; }
      .passions__firstSection__presentation__containerArticle {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .passions__firstSection__presentation__containerArticle__article__h2 {
          font-size: 1em;
          line-height: 1.4em;
          animation-name: animationTitle;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__firstSection__presentation__containerArticle__article__p {
          font-size: 0.7em;
          text-align: justify;
          line-height: 180%;
          letter-spacing: 0.1em; }
          .passions__firstSection__presentation__containerArticle__article__p__spanBlue {
            color: #5592E8;
            font-weight: bold; }
          .passions__firstSection__presentation__containerArticle__article__p__spanGreen {
            color: #33CD6C;
            font-weight: bold; }
      .passions__firstSection__presentation__containerPicture {
        width: 99%;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 5%;
        animation-name: animationPicture;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
  .passions__secondSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    .passions__secondSection__divAstroEtChant {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: auto; }
      .passions__secondSection__divAstroEtChant__divastro {
        display: flex;
        flex-flow: column;
        width: 45%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(85, 146, 232, 0.28);
        border-radius: 6px; }
        .passions__secondSection__divAstroEtChant__divastro__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divastro__picture__img {
            width: 90%;
            height: auto; }
        .passions__secondSection__divAstroEtChant__divastro__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divAstroEtChant__divastro__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divastro__article__p {
            margin-bottom: 5%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; }
      .passions__secondSection__divAstroEtChant__divchant {
        display: flex;
        flex-flow: column;
        width: 45%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(252, 206, 232, 0.57);
        border-radius: 6px; }
        .passions__secondSection__divAstroEtChant__divchant__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          margin-bottom: 5%;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divchant__picture__img {
            width: 90%;
            height: auto; }
        .passions__secondSection__divAstroEtChant__divchant__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divAstroEtChant__divchant__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divchant__article__p {
            margin-bottom: 5%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; }
    .passions__secondSection__divpaysageetphoto {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto; }
      .passions__secondSection__divpaysageetphoto__divpaysage {
        display: flex;
        flex-flow: column;
        width: 94%;
        height: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(51, 205, 108, 0.28);
        border-radius: 6px; }
        .passions__secondSection__divpaysageetphoto__divpaysage__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divpaysage__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divpaysageetphoto__divpaysage__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divpaysageetphoto__divpaysage__article__p {
            margin-bottom: 3%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; }
      .passions__secondSection__divpaysageetphoto__divphoto {
        display: flex;
        flex-flow: column;
        width: 94%;
        height: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(187, 22, 0, 0.28);
        border-radius: 6px; }
        .passions__secondSection__divpaysageetphoto__divphoto__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divphoto__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divpaysageetphoto__divphoto__article__h2 {
            font-size: 1em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divpaysageetphoto__divphoto__article__p {
            margin-bottom: 3%;
            font-size: 0.7em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; } }
@media screen and (min-width: 1389px) {
  .passions__firstSection {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    margin-top: 30px; }
    .passions__firstSection__presentation {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: auto; }
      .passions__firstSection__presentation__containerArticle {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2%;
        padding-right: 2%; }
        .passions__firstSection__presentation__containerArticle__article__h2 {
          font-size: 1.2em;
          line-height: 1.4em;
          animation-name: animationTitle;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__firstSection__presentation__containerArticle__article__p {
          font-size: 0.8em;
          text-align: justify;
          line-height: 180%;
          letter-spacing: 0.1em; }
          .passions__firstSection__presentation__containerArticle__article__p__spanBlue {
            color: #5592E8;
            font-weight: bold; }
          .passions__firstSection__presentation__containerArticle__article__p__spanGreen {
            color: #33CD6C;
            font-weight: bold; }
      .passions__firstSection__presentation__containerPicture {
        width: 40%;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 5%;
        animation-name: animationPicture;
        animation-duration: 1000ms;
        animation-fill-mode: both; }
  .passions__secondSection {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto; }
    .passions__secondSection__divAstroEtChant {
      display: flex;
      flex-flow: row nowrap;
      width: 50%;
      height: auto;
      margin-left: 2%; }
      .passions__secondSection__divAstroEtChant__divastro {
        display: flex;
        flex-flow: column;
        width: 50%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(85, 146, 232, 0.28);
        border-radius: 6px; }
        .passions__secondSection__divAstroEtChant__divastro__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divastro__picture__img {
            width: 90%;
            height: auto; }
        .passions__secondSection__divAstroEtChant__divastro__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divAstroEtChant__divastro__article__h2 {
            font-size: 1.2em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divastro__article__p {
            margin-bottom: 10%;
            font-size: 0.8em;
            text-align: left;
            line-height: 180%;
            letter-spacing: 0.1em; }
      .passions__secondSection__divAstroEtChant__divchant {
        display: flex;
        flex-flow: column;
        width: 50%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(252, 206, 232, 0.57);
        border-radius: 6px; }
        .passions__secondSection__divAstroEtChant__divchant__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          margin-bottom: 5%;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divchant__picture__img {
            width: 90%;
            height: auto; }
        .passions__secondSection__divAstroEtChant__divchant__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divAstroEtChant__divchant__article__h2 {
            font-size: 1.2em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divAstroEtChant__divchant__article__p {
            margin-bottom: 10%;
            font-size: 0.8em;
            text-align: left;
            line-height: 180%;
            letter-spacing: 0.1em; }
    .passions__secondSection__divpaysageetphoto {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: auto; }
      .passions__secondSection__divpaysageetphoto__divpaysage {
        display: flex;
        flex-flow: column;
        width: 94%;
        height: auto;
        margin-top: 2.5%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(51, 205, 108, 0.28);
        border-radius: 6px; }
        .passions__secondSection__divpaysageetphoto__divpaysage__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divpaysage__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divpaysageetphoto__divpaysage__article__h2 {
            font-size: 1.2em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divpaysageetphoto__divpaysage__article__p {
            margin-bottom: 3%;
            font-size: 0.8em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; }
      .passions__secondSection__divpaysageetphoto__divphoto {
        display: flex;
        flex-flow: column;
        width: 94%;
        height: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(187, 22, 0, 0.28);
        border-radius: 6px; }
        .passions__secondSection__divpaysageetphoto__divphoto__picture {
          width: 99%;
          margin-top: 30px;
          text-align: center;
          animation-name: animationPicture;
          animation-duration: 1000ms;
          animation-fill-mode: both; }
        .passions__secondSection__divpaysageetphoto__divphoto__article {
          width: 90%;
          margin-left: auto;
          margin-right: auto; }
          .passions__secondSection__divpaysageetphoto__divphoto__article__h2 {
            font-size: 1.2em;
            line-height: 1.4em;
            color: #FFFFFF;
            animation-name: animationTitle;
            animation-duration: 1000ms;
            animation-fill-mode: both; }
          .passions__secondSection__divpaysageetphoto__divphoto__article__p {
            margin-bottom: 3%;
            font-size: 0.8em;
            text-align: justify;
            line-height: 180%;
            letter-spacing: 0.1em; } }
@keyframes animationTitle {
  0% {
    opacity: 0;
    transform: translateY(15%); }
  25% {
    opacity: 0.25;
    transform: translateY(8%); }
  65% {
    opacity: 0.75;
    transform: translateY(5%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes animationPicture {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

/*# sourceMappingURL=content-passions.css.map */
