@font-face {
  font-family: 'julius_sans_oneregular';
  src: url("../fonts/juliussansone-regular-webfont.woff2") format("woff2"), url("../fonts/juliussansone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratthin';
  src: url("../fonts/montserrat-thin-webfont.woff2") format("woff2"), url("../fonts/montserrat-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratmedium';
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'julius_sans_oneregular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

p {
  font-family: "montserratregular", Verdana, Geneva, Tahoma, sans-serif; }

a {
  font-family: 'montserratmedium';
  text-decoration: none; }

.blocFormulaire {
  width: 100%;
  height: auto;
  font-family: 'montserratlight';
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 2%; }
  .blocFormulaire__formulaire {
    width: 95%;
    height: auto;
    background-color: #FFFFFF;
    border: 2px solid #5592E8;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 10px; }
    .blocFormulaire__formulaire__h3 {
      text-align: center;
      font-size: 1.5em;
      color: #5592E8; }
    .blocFormulaire__formulaire__label {
      color: #5592E8;
      margin-left: 3%; }
      .blocFormulaire__formulaire__label__span {
        color: #6EF6C6; }
    .blocFormulaire__formulaire__input {
      width: 90%;
      height: 35%;
      margin-top: 5px;
      margin-bottom: 20px;
      margin-left: 3%;
      border: 1px solid #5592E8;
      border-radius: 3px;
      padding: 5px; }
    .blocFormulaire__formulaire__textarea {
      width: 90%;
      height: 80px;
      margin-top: 5px;
      margin-left: 3%;
      border: 1px solid #6EF6C6;
      border-radius: 3px;
      padding: 5px;
      resize: none; }
    .blocFormulaire__formulaire__submit {
      height: 35px;
      background-color: #5592E8;
      border: 1px solid #443E9B;
      border-radius: 3px;
      margin-top: 20px;
      margin-bottom: 30px;
      margin-right: 3%;
      font-family: 'montserratregular';
      font-weight: bold;
      color: #FFFFFF;
      float: right; }
    .blocFormulaire__formulaire__info {
      font-size: 0.9em;
      color: #443E9B;
      letter-spacing: 2px;
      padding-left: 5px; }

.succesMessage {
  background-color: #6EF6C6;
  border: #33CD6C 1px solid;
  padding: 5px 9px;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em; }

.errorMessage {
  background-color: #BB1600;
  border: #9B1819 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 4px; }

@media screen and (min-width: 426px) and (max-width: 767px) {
  .blocFormulaire {
    width: 100%;
    height: auto;
    font-family: 'montserratlight';
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2%;
    margin-right: 2%; }
    .blocFormulaire__formulaire {
      width: 95%;
      height: auto;
      background-color: #FFFFFF;
      border: 2px solid #5592E8;
      border-radius: 3px;
      font-size: 0.8em;
      font-weight: bold;
      padding-bottom: 10px; }
      .blocFormulaire__formulaire__h3 {
        text-align: center;
        font-size: 1.5em;
        color: #5592E8; }
      .blocFormulaire__formulaire__label {
        color: #5592E8;
        margin-left: 3%; }
        .blocFormulaire__formulaire__label__span {
          color: #6EF6C6; }
      .blocFormulaire__formulaire__input {
        width: 90%;
        height: 35%;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 3%;
        border: 1px solid #5592E8;
        border-radius: 3px;
        padding: 5px; }
      .blocFormulaire__formulaire__textarea {
        width: 90%;
        height: 80px;
        margin-top: 5px;
        margin-left: 3%;
        border: 1px solid #6EF6C6;
        border-radius: 3px;
        padding: 5px;
        resize: none; }
      .blocFormulaire__formulaire__submit {
        height: 35px;
        background-color: #5592E8;
        border: 1px solid #443E9B;
        border-radius: 3px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-right: 3%;
        font-family: 'montserratregular';
        font-weight: bold;
        color: #FFFFFF;
        float: right; }
      .blocFormulaire__formulaire__info {
        font-size: 0.9em;
        color: #443E9B;
        letter-spacing: 2px;
        padding-left: 5px; }

  .succesMessage {
    background-color: #6EF6C6;
    border: #33CD6C 1px solid;
    padding: 5px 9px;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em; }

  .errorMessage {
    background-color: #BB1600;
    border: #9B1819 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 4px; } }
@media screen and (min-width: 768px) and (max-width: 1388px) {
  .blocFormulaire {
    width: 80%;
    height: auto;
    font-family: 'montserratlight';
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 11%;
    margin-right: 11%; }
    .blocFormulaire__formulaire {
      width: 95%;
      height: auto;
      background-color: #FFFFFF;
      border: 2px solid #5592E8;
      border-radius: 3px;
      font-size: 0.8em;
      font-weight: bold;
      padding-bottom: 10px; }
      .blocFormulaire__formulaire__h3 {
        text-align: center;
        font-size: 1.5em;
        color: #5592E8; }
      .blocFormulaire__formulaire__label {
        color: #5592E8;
        margin-left: 3%; }
        .blocFormulaire__formulaire__label__span {
          color: #6EF6C6; }
      .blocFormulaire__formulaire__input {
        width: 90%;
        height: 35%;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 3%;
        border: 1px solid #5592E8;
        border-radius: 3px;
        padding: 5px; }
      .blocFormulaire__formulaire__textarea {
        width: 90%;
        height: 80px;
        margin-top: 5px;
        margin-left: 3%;
        border: 1px solid #6EF6C6;
        border-radius: 3px;
        padding: 5px;
        resize: none; }
      .blocFormulaire__formulaire__submit {
        height: 35px;
        background-color: #5592E8;
        border: 1px solid #443E9B;
        border-radius: 3px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-right: 3%;
        font-family: 'montserratregular';
        font-weight: bold;
        color: #FFFFFF;
        float: right; }
      .blocFormulaire__formulaire__info {
        font-size: 0.9em;
        color: #443E9B;
        letter-spacing: 2px;
        padding-left: 5px; }

  .succesMessage {
    background-color: #6EF6C6;
    border: #33CD6C 1px solid;
    padding: 5px 9px;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em; }

  .errorMessage {
    background-color: #BB1600;
    border: #9B1819 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 4px; } }
@media screen and (min-width: 1389px) {
  .blocFormulaire {
    width: 60%;
    height: auto;
    font-family: 'montserratlight';
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 21%;
    margin-right: 21%; }
    .blocFormulaire__formulaire {
      width: 95%;
      height: auto;
      background-color: #FFFFFF;
      border: 2px solid #5592E8;
      border-radius: 3px;
      font-size: 0.8em;
      font-weight: bold;
      padding-bottom: 10px; }
      .blocFormulaire__formulaire__h3 {
        text-align: center;
        font-size: 1.5em;
        color: #5592E8; }
      .blocFormulaire__formulaire__label {
        color: #5592E8;
        margin-left: 3%; }
        .blocFormulaire__formulaire__label__span {
          color: #6EF6C6; }
      .blocFormulaire__formulaire__input {
        width: 90%;
        height: 35%;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 3%;
        border: 1px solid #5592E8;
        border-radius: 3px;
        padding: 5px; }
      .blocFormulaire__formulaire__textarea {
        width: 90%;
        height: 80px;
        margin-top: 5px;
        margin-left: 3%;
        border: 1px solid #6EF6C6;
        border-radius: 3px;
        padding: 5px;
        resize: none; }
      .blocFormulaire__formulaire__submit {
        height: 35px;
        background-color: #5592E8;
        border: 1px solid #443E9B;
        border-radius: 3px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-right: 3%;
        font-family: 'montserratregular';
        font-weight: bold;
        color: #FFFFFF;
        float: right; }
      .blocFormulaire__formulaire__info {
        font-size: 0.9em;
        color: #443E9B;
        letter-spacing: 2px;
        padding-left: 5px; }

  .succesMessage {
    background-color: #6EF6C6;
    border: #33CD6C 1px solid;
    padding: 5px 9px;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em; }

  .errorMessage {
    background-color: #BB1600;
    border: #9B1819 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 4px; } }

/*# sourceMappingURL=contact.css.map */
