.header {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position-y: center;
  margin-top: -0.9%; }
  .header__banner {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 25px; }
    .header__banner__logo {
      width: 12%;
      margin-left: 15%;
      margin-top: 2%; }
      .header__banner__logo__img {
        width: 60px;
        height: 60px; }
    .header__banner__title {
      width: 60%;
      margin-left: 10%; }
      .header__banner__title__h1 {
        font-size: 1em;
        line-height: 120%; }
  .header__ariane {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    margin-left: 2%; }
    .header__ariane__columnLeft {
      width: 20%;
      text-align: right; }
      .header__ariane__columnLeft__a {
        color: #FFFFFF;
        font-family: 'montserratthin';
        font-size: smaller; }
        .header__ariane__columnLeft__a:hover {
          color: #5592E8; }
        .header__ariane__columnLeft__a:active {
          color: #6EF6C6; }
        .header__ariane__columnLeft__a__picture {
          width: 30px;
          height: 30px;
          margin-top: -7px;
          margin-right: 10px; }
    .header__ariane__columnCenter {
      width: 80%; }
    .header__ariane__columnRight {
      width: 0%; }

@media screen and (min-width: 426px) and (max-width: 767px) {
  .header {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position-y: center;
    margin-top: -0.9%; }
    .header__banner {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      margin-top: 25px; }
      .header__banner__logo {
        width: 12%;
        margin-left: 15%;
        margin-top: 2%; }
        .header__banner__logo__img {
          width: 60px;
          height: 60px; }
      .header__banner__title {
        width: 60%;
        margin-left: 10%; }
        .header__banner__title__h1 {
          font-size: 1em;
          line-height: 120%; }
    .header__ariane {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 8%;
      width: 80%;
      height: 40px;
      margin-left: 20%; }
      .header__ariane__columnLeft {
        width: 20%;
        text-align: right; }
        .header__ariane__columnLeft__a {
          color: #FFFFFF;
          font-family: 'montserratthin';
          font-size: smaller; }
          .header__ariane__columnLeft__a:hover {
            color: #5592E8; }
          .header__ariane__columnLeft__a:active {
            color: #6EF6C6; }
          .header__ariane__columnLeft__a__picture {
            width: 30px;
            height: 30px;
            margin-top: -7px;
            margin-right: 10px; }
      .header__ariane__columnCenter {
        width: 80%; }
      .header__ariane__columnRight {
        width: 0%; } }
@media screen and (min-width: 768px) and (max-width: 1388px) {
  .header {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position-y: center;
    margin-top: -0.9%; }
    .header__banner {
      display: flex;
      flex-wrap: nowrap;
      width: 100%; }
      .header__banner__logo {
        width: 12%;
        margin-left: 10%;
        margin-top: 2%; }
        .header__banner__logo__img {
          width: 100px;
          height: 100px; }
      .header__banner__title {
        width: 50%;
        margin-left: 1%;
        margin-top: 2%; }
        .header__banner__title__h1 {
          font-size: 1.5em;
          line-height: 120%; }
    .header__ariane {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 20px;
      width: 80%;
      height: 40px;
      margin-top: 5%;
      margin-left: 20%; }
      .header__ariane__columnLeft {
        width: 20%;
        text-align: right; }
        .header__ariane__columnLeft__a {
          color: #FFFFFF;
          font-family: 'montserratthin';
          font-size: smaller; }
          .header__ariane__columnLeft__a:hover {
            color: #5592E8; }
          .header__ariane__columnLeft__a:active {
            color: #6EF6C6; }
          .header__ariane__columnLeft__a__picture {
            width: 30px;
            height: 30px;
            margin-top: -7px;
            margin-right: 10px; }
      .header__ariane__columnCenter {
        width: 80%; }
      .header__ariane__columnRight {
        width: 0%; } }
@media screen and (min-width: 1389px) {
  .header {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position-y: center;
    margin-top: -0.9%; }
    .header__banner {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      margin-top: 25px; }
      .header__banner__logo {
        width: 12%;
        margin-left: 2%;
        margin-top: 2%; }
        .header__banner__logo__img {
          width: 200px;
          height: 200px; }
      .header__banner__title {
        width: 25%;
        margin-left: 5%;
        margin-top: 2%; }
        .header__banner__title__h1 {
          font-size: 1.5em;
          line-height: 120%; }
    .header__ariane {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 20px;
      width: 80%;
      height: 40px;
      margin-left: 30%; }
      .header__ariane__columnLeft {
        width: 20%;
        text-align: right; }
        .header__ariane__columnLeft__a {
          color: #FFFFFF;
          font-family: 'montserratthin';
          font-size: smaller; }
          .header__ariane__columnLeft__a:hover {
            color: #5592E8; }
          .header__ariane__columnLeft__a:active {
            color: #6EF6C6; }
          .header__ariane__columnLeft__a__picture {
            width: 30px;
            height: 30px;
            margin-top: -7px;
            margin-right: 10px; }
      .header__ariane__columnCenter {
        width: 80%; }
      .header__ariane__columnRight {
        width: 0%; } }

/*# sourceMappingURL=header.css.map */
