@import "../Utils/variables.scss";

nav {
    width: 100%;
    margin: 0 auto;
    background-color: $white-background-nav2;
    position: sticky;
    top: 0px;
}

nav input[type=checkbox] {
    display: none;
}

nav label {
    display: inline-block;
    width: 40px;
    padding: 10px 0px;
    text-align: center;
}

nav img {
    width: 30px;
    height: 30px;
    margin-top: 5%;
    margin-left: 10px;
}
nav ul {
    width: 45%;
    margin-left: 10;
    list-style-type: none;
    text-align: center;
    display: none;
    background-color: $white-background-nav2;
}

nav input[type=checkbox]:checked + ul {
    display: flex;
    flex-flow: column wrap;
}



nav ul li {
    flex: 1 1 auto;
    text-align: center;
    border-bottom: 2px solid $green-dom-web-dark;
    padding-bottom: 10px;
    margin-left: -25%;
}

nav a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'montserratregular';
    font-weight: bold;
    padding: 10px 0px;
}

.conteneur-nav {
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    
    nav {
        width: 100%;
        margin: 0 auto;
        background-color: $white-background-nav2;
        position: sticky;
        top: 0px;
    }
    
    nav input[type=checkbox] {
        display: none;
    }
    
    nav label {
        display: inline-block;
        width: 40px;
        padding: 10px 0px;
        text-align: center;
    }
    
    nav img {
        width: 30px;
        height: 30px;
        margin-top: 5%;
        margin-left: 10px;
    }
    nav ul {
        width: 45%;
        margin-left: 10;
        list-style-type: none;
        display: none;
        background-color: $white-background-nav2;
    }
    
    nav input[type=checkbox]:checked + ul {
        display: flex;
        flex-flow: column wrap;
    }
    
    
    
    nav ul li {
        flex: 1 1 auto;
        text-align: center;
        border-bottom: 2px solid $green-dom-web-dark;
        padding-bottom: 10px;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        //color: $grey-border-color-nav;
        color: #FFFFFF;
        font-family: 'montserratregular';
        font-weight: bold;
        padding: 10px 0px;
    }
    
    .conteneur-nav {
        position: absolute;
        width: 100%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1388px) {
    nav {
        width: 100%;
        margin: 0 auto;
        background-color: $white-background-nav2;
        position: sticky;
        top: 0px;
    }
    
    nav input[type=checkbox] {
        display: none;
    }
    
    nav label {
        display: inline-block;
        width: 40px;
        padding: 10px 0px;
        text-align: center;
    }
    
    nav img {
        width: 30px;
        height: 30px;
        margin-top: 5%;
        margin-left: 10px;
    }
    nav ul {
        width: 45%;
        margin-left: 10;
        list-style-type: none;
        display: none;
        background-color: $white-background-nav2;
    }
    
    nav input[type=checkbox]:checked + ul {
        display: flex;
        flex-flow: column wrap;
    }
    
    
    
    nav ul li {
        flex: 1 1 auto;
        text-align: center;
        border-bottom: 2px solid $green-dom-web-dark;
        padding-bottom: 10px;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        //color: $grey-border-color-nav;
        color: #FFFFFF;
        font-family: 'montserratregular';
        font-weight: bold;
        padding: 10px 0px;
    }
    
    .conteneur-nav {
        position: absolute;
        width: 100%;
    }
}
    


@media screen and (min-width: 1389px){
    .conteneur-nav {
        position: static;
    }

    nav label, nav input {
        display: none;
    }

    nav input[type=checkbox]:checked + ul, nav ul {
        width: 70%;
        display: flex;
        flex-flow: row wrap;
        background-color: transparent;
        margin-left: 28%;
    }

    nav ul li {
        position: relative;
        border-right: 2px solid $green-dom-web-dark;
        border-bottom: 2px solid transparent;
        margin-left: 0;
    }

    nav > div> ul > li > a {
        //color: $bleu-background-color-night;
        //color: $grey-border-color-nav;
        color: #FFFFFF;
        font-family: 'montserratregular';
        font-weight: bold;
    }

    nav a:hover {
        color: $blue-dom-web-dark;
    }
}
    




    

   
